################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SmartConsoleTest/obj
/SmartConsoleTest/bin/Debug/netcoreapp3.1
/.vs/SmartConsole/v16
/.vs/SmartConsole/DesignTimeBuild
/.vs/slnx.sqlite
/.vs
